<!doctype html>
<html>
<head>

    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Job Portal </title>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='' rel='stylesheet'>
    <style>
.jumbotron h1{
color: white;
font-weight : bold;
font-size : 30px
align-items: center;
justify-content: center;
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
}
.jumbotron img{
align-items: center;
justify-content: center;
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
}
.jumbotron img{
color : white;
font-size : 50px;
font-weight: bold;
align-items: center;
justify-content: center;
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
}

.jumbotron p{

position: absolute;
top: 35%;
color : white;
justify-content: center;
left: 50%;
transform: translate(-50%, -50%);
}

    body {
    background-color: #eee
}

.card {
    border: none;
}

.btn-outline-dark {
    border-radius: 35px;
    font-size: 10px;
    box-shadow: none
}

.col-md-3 {
    margin-top: 5px
}



    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="static/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="static/css/style.css">

    <script type='text/javascript' src=''></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <script type='text/javascript'
            src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>
</head>

<body oncontextmenu='return false' class='snippet-body'>

{% include "navbar.html" %}

<div class="jumbotron hero" style="background-image: url('static/imgg.jpg');">
        <h1 class="site-logo text-center ">NORDIC SOLUTIONS</h1>

<!--
    <img class="site-logo text-center" src="static/logo3.png">
-->
    <p class="lead text-center ">Where man meets innovation</p>
    <hr class="my-4">
</div>


{% load static %}
<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/js/jquery.sticky.js"></script>
<script src="static/js/main.js"></script>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <a class="navbar-brand" href="#">Nordic Solutions SE</a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"-->
<!--            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse " id="navbarNav">-->
<!--        <ul class="navbar-nav">-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">Jobs</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">Companies</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->


<!--<div class="jumbotron">
    <div class="jumbotron text-center">
        {% load static %}
        <img src="static/imgg.jpg" class="img-fluid" alt="Hero Image">
        <h1 class="display-4 text-center ">Nordic Solutions</h1>
        <p class="lead text-center ">Where man meets innovation</p>
        <hr class="my-4">
    </div>-->

<form class="container">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search jobs">
    </div>
    <br/>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <form action="" method="post">
            {% csrf_token %}
            <button class="btn btn-primary btn-lg px-4 gap-3" type="submit" name="search_ht"
                    value="">Search
            </button>
        </form>
</form>
</div>
<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <h4>Recommended Jobs</h4>
        <button class="btn btn-sm btn-outline-dark">Apply all</button>
    </div>
    <div class="row mt-2 g-1">
        {% for key, value in data.items %}
        <div class="col-md-3">
            <div class="card p-2">
                <div class="text-right"><small>{{value.Req.type}}</small></div>
                <div class="text-center mt-2 p-3"><img src="static/onlylogo.png"
                                                       width="60"/> <span class="d-block font-weight-bold">{{value.Req.title}}</span>
                    <hr>
                    <span>{{value.Req.company}}</span>
                    <div class="d-flex flex-row align-items-center justify-content-center"><i
                            class="fa fa-map-marker"></i> <small class="ml-1">{{value.Req.location}}</small></div>
                    <div class="d-flex justify-content-between mt-3"><span>{{value.Req.salary}} USD</span>
                        <form action="/r_jobdetail/" method="post">
                            {% csrf_token %}
                            <button type="submit" name="getjobid_btn"
                                    value="{{value.Req.id}}¤¤¤{{value.Req.title}}¤¤¤{{value.Req.desc}}"
                                    class="btn btn-sm btn-outline-dark">Apply
                            </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
<script type='text/javascript'></script>

<!-- Remove the container if you want to extend the Footer to full width. -->
{%include 'footer.html' %}
<!-- End of .container -->
</body>
</html>