<!--<p>
    job ID {{ job_id.id }}
</br>
    <h2>The Job description 3-5 paragraphs</h2>
   {{job_id.desc}}
    <form action="/rfilldata/" method="post">
                            {% csrf_token %}
                            <button type="submit" name="getjobid_btn" value="{{job_id.id}},{{job_id.title}}"
                                    class="btn btn-sm btn-outline-dark">Apply
                            </button>
                    </div>
                    </form>-->

<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="jumbotron text-center">

    <img src="https://firebasestorage.googleapis.com/v0/b/job-portal-c65be.appspot.com/o/files%2Fpexels-ivan-samkov-8117494.jpg?alt=media&token=0fa4fe84-2e1f-40ba-bba3-a803cd4c951c" class="img-fluid" alt="Hero Image">
    <h1 class="display-4"> {{job_id.title}}</h1>
    <p class="lead">Here at Our Company, we are dedicated to providing top-quality services and solutions for all of
        your needs. Let us help you reach your goals and succeed!</p>
    <hr class="my-4">
</div>
<div class="container">
    <a href="#">Go back</a>

    {{ job_id.desc | safe }}
</div>
<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <form action="/rfilldata/" method="post">
        {% csrf_token %}
        <button class="btn btn-primary btn-lg px-4 gap-3" type="submit" name="getjobid_btn"
                value="{{job_id.id}},{{job_id.title}}"
        >Apply
        </button>
    </form>

</div>
</body>
</html>
